@import '../../../style-lib';

$offset: $headerHeight * 2 + $headerHeight;

:host {
  display: block;
  @extend %center-container;
  margin-top: $headerHeight;
  height: calc(100vh - $offset);
  margin-bottom: $footerHeight;
  background-color: $p-white;
  padding: 10px;
}

main {
  height: 100%;
  overflow: auto;
}
