<app-content>
  <h3>Add a playlist</h3>
  <form [formGroup]="form"
    (submit)="submitForm()">
    <mat-form-field>
      <input matInput
        placeholder="artwork"
        formControlName="artwork">
    </mat-form-field>
    <mat-form-field>
      <input matInput
        placeholder="kind"
        formControlName="kind">
    </mat-form-field>
    <mat-form-field>
      <input matInput
        placeholder="curatorName"
        formControlName="curatorName">
    </mat-form-field>
    <mat-form-field>
      <input matInput
        placeholder="name"
        formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput
        placeholder="url"
        formControlName="url">
    </mat-form-field>

    <div>
      <input type="submit">
    </div>
  </form>
</app-content>
