@import '../../../style-lib';

:host {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  display: block;
  background: $p-accent;
  color: $p-white;
}

footer {
  line-height: $footerHeight;
  @extend %center-container;
  text-align: left;
}

p {
  margin: 0;
}
