@import '../../../style-lib';

:host {
  display: block;
  padding: $size-m;
  border: solid 2px $p-accent2;
  margin: $size-m;
  background: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  overflow: hidden;
}

h3 {
  margin: $size-m 0px;
}

button {
  border: none;
  background: none;
  outline: none;
}

.plus-minus-toggle {
  cursor: pointer;
  height: 10px;
  position: relative;
  width: 21px;

  &:before,
  &:after {
    background: #000;
    content: '';
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 21px;
    transition: transform 500ms ease;
  }

  &:after {
    transform-origin: center;
  }

  &.collapsed {
    &:after {
      transform: rotate(90deg);
    }

    &:before {
      transform: rotate(180deg);
    }
  }
}
