<header>
  <h3>{{title}}</h3>
  <button (click)="toggleOpen()">
    <div [class.collapsed]="!isOpen" class="plus-minus-toggle collapsed"></div>
  </button>
</header>

<main @fadeImage *ngIf="isOpen">
  <ng-content></ng-content>
</main>
