<app-content>

  <mat-form-field>
    <input matInput placeholder="filter" type="text" [(ngModel)]="query" (ngModelChange)="setQuery()">
  </mat-form-field>

  <p *ngIf="isLoading | async">Loading</p>

  <app-accordion-list>
    <app-accordion [title]="playlist.name"
      *ngFor="let playlist of (playlists | async)">
      <main>
        <div>
          <img [src]="playlist.artwork" />
        </div>

        <div>
          <h4>{{playlist.name}} by {{playlist.curatorName}}</h4>
          <p>{{playlist.kind}}</p>
          <a target="_blank" [href]="playlist.url">Listen</a>
        </div>
      </main>
    </app-accordion>
  </app-accordion-list>
</app-content>
