@import '../../../style-lib';

:host {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  display: block;
  background: $p-primary;
  color: $p-white;
  z-index: 10;
}

header {
  height: $headerHeight;
  @extend %center-container;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img, nav {
  display: inline-block;
  vertical-align: middle;
}

img {
  padding: $size-m;
  background: #fff;
  height: 40px;
  margin-right: $size-l;
}

a {
  padding: $size-m;
  color: white;
  text-decoration: none;
  transition: border-bottom 0.2s ease-in;
  border-bottom: solid 2px transparent;

  &.active,
  &:hover{
    border-bottom: solid 2px $p-accent;
  }
}
