<header>
  <nav>
    <img src="./assets/logo.jpg" alt="logo">
    <a [routerLink]="['/playlist']"
       routerLinkActive="active">
      Playlists
    </a>
    <a [routerLink]="['/about']"
       routerLinkActive="active">
      About
    </a>
  </nav>
  <app-playlist-counter></app-playlist-counter>
</header>
