/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

//typography settings
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h1,
h2,
h3,
h4,
h5,
a,
p {
  font-family: 'Roboto'
}
