// vars
$footerHeight: 30px;
$headerHeight: $footerHeight * 2;

$p-primary: #7EB0F2;
$p-accent: #04D976;
$p-accent2: #04BF7B;
$p-white: white;

$size-s: 5px;
$size-m: 10px;
$size-l: 15px;

// placeholders
%center-container {
  margin: 0 auto;
  max-width: 850px;
}
